<div class="wide">
	<!-- <h2>About Me</h2> -->
	<div class="container">
		<!-- <div class="cont"> -->
			<div class="image taiwan">
				<img src="./assets/taipei.png" class="pic"/>
				<div class="overlay">
					<div class="text">Born in Taiwan, the land of bubble tea and semiconductors.</div>
				</div>
			</div>
		<!-- </div> -->
		<div class="image philly">
			<img src="./assets/philly.png" class="pic"/>
			<div class="overlay">
				<div class="text">Studied at UPenn, in the city of brotherly love.</div>
			</div>
		</div>
		<div class="image cali">
			<img src="./assets/sf.png" class="pic"/>
			<div class="overlay">
				<div class="text">Moved to the Bay Area, drove 3,500 miles in 10 days.</div>
			</div>
		</div>

		<div class="image sports">
			<img src="./assets/sportsenglish.png" class="pic"/>
			<div class="overlay">
				<div class="text">Published a book series, teaching English through sports.</div>
			</div>
		</div>
		<div class="image pluggie">
			<img src="./assets/pluggie.png" class="pic"/>
			<div class="overlay">
				<div class="text">Worked at Opower handling production operations.</div>
			</div>
		</div>
		<div class="image oracle">
			<img src="./assets/oracle.png" class="pic"/>
			<div class="overlay">
				<div class="text">Currently working at Oracle building software solutions.</div>
			</div>
		</div>
	</div>
</div>