.wide {
	overflow-x: hidden;
	width: 100%;
	padding-bottom: 2em;
}

* {
	font-size: 13pt;
	text-align: center;
}

h2 {
	font-size: 35pt;
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

img {
	width: 140px;
	height: 140px;
	border-radius: 10%;
	border-style: solid;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.taiwan {
	width: 50%;
	order: 1;
}

.philly {
	width: 50%;
	order: 2;
}

.cali {
	width: 50%;
	order: 3;
}

.sports {
	width: 50%;
	order: 4;
}

.pluggie {
	width: 50%;
	order: 5;
}

.oracle {
	width: 50%;
	order: 6;
}

.image {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}

.pic {

}

.overlay {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 140px;
	width: 140px;
	opacity: 0;
	transition: .5s ease;
	border-radius: 10%;
	background-color: #008CBA;
}

.image:hover .overlay {
	opacity: 0.85;

}

.text {
	color: white;
	font-size: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*
 * Media Queries 
 */

@media screen and (min-width: 750px) {
	img {
		width: 200px;
		height: 200px;
	}

	.overlay {
		width: 200px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;

	}

	.text {
		font-size: 16px;
	}

	.container {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 500px) {
	.taiwan {
		width: 33%;
		order: 1;
	}

	.philly {
		width: 33%;
		order: 2;
	}

	.cali {
		width: 33%;
		order: 3;
	}

	.sports {
		width: 33%;
		order: 4;
	}

	.pluggie {
		width: 33%;
		order: 5;
	}

	.oracle {
		width: 33%;
		order: 6;
	}
}
