* {
	font-size: 13pt;
	text-align: center;
}

h2 {
	font-size: 35pt;
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

img {
	width: 120px;
	height: 120px;
	border-radius: 10%;
	border-style: solid;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.taiwan {
	width: 50%;
	order: 1;
}

.philly {
	width: 50%;
	order: 2;
}

.cali {
	width: 50%;
	order: 3;
}

.sports {
	width: 50%;
	order: 4;
}

.pluggie {
	width: 50%;
	order: 5;
}

.oracle {
	width: 50%;
	order: 6;
}

/*
 * Media Queries 
 */

@media screen and (min-width: 700px) {
	img {
		width: 175px;
		height: 175px;
	}
	.container {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 500px) {
	.taiwan {
		width: 33%;
		order: 1;
	}

	.philly {
		width: 33%;
		order: 2;
	}

	.cali {
		width: 33%;
		order: 3;
	}

	.sports {
		width: 33%;
		order: 4;
	}

	.pluggie {
		width: 33%;
		order: 5;
	}

	.oracle {
		width: 33%;
		order: 6;
	}
}
