<div class="wide">
	<h2 [myHighlighter]="color" defaultColor="gray">About Me</h2>

	<input type="radio" name="colors" (click)="color='lightgreen'">Test

	<div class="tools">
		<h3> Tools that I use </h3>
		<span *ngFor="let tool of toolsUsed">
			<a href="{{ tool?.target }}">
				<img src="{{ tool?.source }}"/>
			</a>
		</span>
	</div>

<!-- 		<div class="questions">
			<span id="q1">
				<span id="QA">Q:</span> What motivates you?<br>
			</span>
			<span id="a1">
				<span id="QA">JL:</span> I'm motivated by learning, the more I get to learn, the more motivated I am.<br>
			</span>
			<span id="q2">
				<span id="QA">Q:</span> What is your coolest experience so far?<br>
			</span>
			<span id="a2">
				<span id="QA">JL:</span> My coolest experience so far is to co-author a book series on Sports English. It was published in Taiwan under the name "The ABCs of MLB and NBA". The publication later spun off into two separate books by the different sports.<br>
			</span>
			<span id="q3">
				<span id="QA">Q:</span> What do you enjoy most outside of your professional career?<br>
			</span>
			<span id="a3">
				<span id="QA">JL:</span><br>
			</span>
		</div> -->
</div>