<div class="wide">
	<h2>About Me</h2>
<!-- 	[myHighlighter]="color" defaultColor="gray"
 -->
<!-- 	<input type="radio" name="colors" (click)="color='lightgreen'">Test -->

<!-- 	<div class="tools">
		<h3> Stuff that I use </h3>
		<span *ngFor="let tool of toolsUsed">
			<a href="{{ tool?.target }}">
				<img src="{{ tool?.source }}"/>
			</a>
		</span>
	</div> -->
	<div class="timeline">

		<section class="flex">
			<div class="image-left">
				<img id="round" src="../assets/taipei.png">
			</div>
			<div class="card right">
				<mat-card>
					Born in Taiwan, but spent 5 years of my childhood in Indonesia due to my dad's work. That expat experience made me bilingual - fluent in both English and Mandarin Chinese (and I was once trilingual but lost the ability to speak Indonesian throughout the years). All that relocating made me who I am now - adventurous and a high-level of change agility.
				</mat-card>
			</div>
		</section>

		<section class="flex">
			<div class="card left">
				<mat-card>
					Attended the University of Pennsylvania from 2009 to 2011, the MS degree here trained me to think like a professional engineer. This is also when I picked up coding skills in Python, Java, and FORTRAN while working on several course and research projects.
				</mat-card>
			</div>
			<div class="image-right">
				<img id="round" src="../assets/philly.png">
			</div>
		</section>

		<section class="flex">
			<div class="image-left">
				<img id="round" src="../assets/book.png">
			</div>
			<div class="card right">
				<mat-card>
					Had the privilege in 2014 to co-author a utility book aimed to teach English through professional sports. I did a bunch of research and writing only to be making less than 50 cents per book sold, but it was by far one of the coolest experience I've ever had. The original book spun off into 2 series later on in 2016.
				</mat-card>
			</div>
		</section>

		<section class="flex">
			<div class="card left">
				<mat-card>
					Joined Opower in 2015 to save the world watt-by-watt. I was drawn by the mission and the opportunity to work on software again, and it was what brought me to the Bay Area in 2016 (and a 3,600 mile roadtrip from DC to SF).
				</mat-card>
			</div>
			<div class="image-right">
				<img id="round" src="../assets/pluggie.png">
			</div>
		</section>

		<section class="flex">
			<div class="image-left">
				<img id="round" src="../assets/oracle.png">
			</div>
			<div class="card right">
				<mat-card>
					As Opower was acquired by Oracle in August 2016, I went from driving operations improvement to developing platform solutions. I found my passion in developing web-applications and solutions after trying out client management, production support, and project management throughout 5 year career.
				</mat-card>
			</div>
		</section>

		<section class="flex">
			<div class="card left">
				<mat-card>
					Being a Certified Scrum Master and a fresh graduate of XXX, I am actively seeking opportunities as a developer.
				</mat-card>
			</div>
			<div class="image-right">
				<img id="round" src="../assets/sf.png">
			</div>
		</section>

	</div>
</div>