.toolbar {
	position: fixed;
	top: 0;
	z-index: 999;
}

.fill-remaining-space {
	flex: 1 1 auto;
}

.toolbar-buttons {
	margin-left: 5px;
}


.nav {
	transform: translate(0, -100px);
	transition: transform 0.3s ease;
	position: relative;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	font-size: 13px;
	font-weight: 900;
}

.nav-item {
	float: left;
	display: inline;
}

.nav-item a {
	display: block;
}

.drawer {
	position: absolute;
	right: 0;
}

.drawer-item {
	display: inline-block;
	font-size: 13px;
	margin-left: 10px;
}


/*
 * Media Queries 
 */

@media screen and (max-width: 649px) {
	.header__menu {
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    padding: 1em;
  	}
  	.header__menu svg {
    	width: 32px;
    	fill: #E0E0E0;
  	}
  	.drawer {
  	}

}

@media screen and (min-width: 650px) {
	.nav {
		transform: translate(0, 0);
	}
	.drawer {
		/*display: flex;*/
		display: none;

	}
  	.drawer-item {
  	}
}