<mat-toolbar class="toolbar">
	<span *ngFor="let hello of hellos" [@helloAnime]="hello.state"> {{ hello }} </span>
	<span class="fill-remaining-space"></span>
	<span class="toolbar-buttons">
		<a href="#skills"><button mat-button>SKILLS</button></a>
	</span>
	<span class="toolbar-buttons">
		<a href="#projects"><button mat-button>PROJECTS</button></a>
	</span>
	<span class="toolbar-buttons">
		<a href="#about"><button mat-button>ABOUT ME</button></a>
	</span>
	<span class="toolbar-buttons">
		<a href="#contact"><button mat-button>CONTACT</button></a>
	</span>
</mat-toolbar>