* {
	font-size: 13pt;
	text-align: center;

}

h2 {
	/*font-family: 'Indie Flower', cursive;*/
	font-size: 35pt;
	margin-bottom: 0;
}

.icon {
	margin-top: 1em;
	max-width: 50px;
	max-height: 50px;
}

p {
	margin-top: 0;
	margin-bottom: 2em;
}

.wide {
	/*background-color: rgb(233, 236, 235);*/
	overflow-x: hidden;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}