<div class="wide">
	<h2>Contact</h2>
	<p>
		Feel free to contact me via any of the following methods:
		<br>
		<span>
			<a href="mailto:james.li.upenn@gmail.com">
				<img class="icon" src="./assets/telegram.png"></a>
			<a href="https://www.facebook.com/?ref=logo">
				<img class="icon" src="./assets/facebook.png"></a>
			<a href="https://www.linkedin.com/in/upennjamesli/">
				<img class="icon" src="./assets/linkedin.png"></a>
			<a href="https://api.whatsapp.com/send?phone=12673577904&text=Hi%20James">
				<img class="icon" src="./assets/whatsapp.png"></a>
			<a href="https://plus.google.com/u/1/107513315297938903093">
				<img class="icon" src="./assets/google-plus.png"></a>
		</span>
	</p>
	<app-location></app-location>

</div>