.body {
	padding-top: 50px;
}

.title {
	color: black;
	font-size: 55pt;
	text-align: center;
	margin: 0 auto !important;
}

h1 {
	font-family: 'Indie Flower', cursive;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	font-size: 18px;
	text-align: center;
	max-width: 66%;
	margin: 0 auto !important;
	word-break: normal;
	white-space: normal;
	padding-top: 2em;
}

.intro {
	padding-bottom: 5em;
}

.footer {
	padding-bottom: 1em;
}

.sections {
	margin-left: auto;
	margin-right: auto;
	word-break: normal;
	white-space: normal;
}

.block {
	display: inline-block;
}

.block-1 {
	float: left;
}

.block-2 {
	margin-left: auto;
	margin-right: auto;
}

.block-3 {
	float: right;
}