.body {
	padding-top: 100px;
}

.title {
	color: black;
	font-size: 2em;
	text-align: center;
	margin: 0 auto !important;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	font-size: 18px;
	text-align: center;
	max-width: 66%;
	margin: 0 auto !important;
	word-break: normal;
	white-space: normal;
	padding-top: 2em;
}

.intro {
	padding-bottom: 5em;
}

.footer {
	padding-bottom: 1em;
}

.sections {
	margin-left: auto;
	margin-right: auto;
	word-break: normal;
	white-space: normal;
}

.image {
	overflow:hidden;
}

#round {
	width: 25%;
	height: 15%;
	border-radius: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
 * Media Queries 
 */

@media screen and (max-width: 750px) {
	#round {
		width: 40%;
		height: 25%;
	}
}
