<app-navbar></app-navbar>
<div class="body">
	<div class="image">
		<img id="round" src="../assets/james-5.jpg">
	</div>
	<div class="title">
		<h1>{{ title }}</h1>
	</div>

	<p class="intro"> Hi, this is James Li. I'm a self-taught programmer interested in opportunities as a full-stack developer or a technical solutions engineer, hoping to build cool web applications and make the world a better place!!!</p>

	<div class="block block-1">
		adfadfasd
	</div>

	<div class="block block-2">
		xxxx
	</div>

	<div class="block block-3">
		dfasdfad
	</div>

	<!--The resume sections-->
	<div class="sections">
		<div id="skills">
			<app-skillset></app-skillset>
		</div>
		<div id="projects">
			<app-projects></app-projects>
		</div>
		<div id="about">
			<app-about></app-about>
		</div>
		<div id="contact">
			<app-contact></app-contact>
		</div>
		<app-location></app-location>
	</div>

	<p class="footer">Created by James Li</p>
</div>