<app-navbar></app-navbar>
<div class="body">
	<div class="title">
		<h1>{{ title }}</h1>
	</div>
	
	<div class="image">
		<img id="round" src="../assets/james-3.jpg">
	</div>

	<ul class="intro">
		<li>Software developer with strong interest in <code>mobile web development</code>.</li>
		<li>Grow with Google scholarship recipient in Mobile Web Specialist.</li>
		<li>Sports enthusiast and a lousy bookwriter.</li>
	</ul>

	<!--The resume sections-->
	<div class="sections">
		<div id="about">
			<app-about></app-about>
		</div>
		<div id="skills">
			<app-skillset></app-skillset>
		</div>
		<div id="projects">
			<app-projects></app-projects>
		</div>
		<div id="contact">
			<app-contact></app-contact>
		</div>
	</div>

	<div class="footer">Created using Angular, Typescript, Bootstrap, HTML, and CSS</div>
</div>