<app-navbar></app-navbar>
<div class="body">
	<div class="title">
		<h1>{{ title }}</h1>
	</div>
	
	<div class="image">
		<img id="round" src="../assets/james-3.png">
	</div>

	<p class="intro"> 
		- Software developer with strong interest in <code>mobile web development</code><br/>
		- Grow with Google scholarship recipient in Mobile Web Specialist<br/>
		- Sports enthusiast and a lousy bookwriter
	</p>

	<!--The resume sections-->
	<div class="sections">
		<div id="about">
			<app-about></app-about>
		</div>
		<div id="skills">
			<app-skillset></app-skillset>
		</div>
		<div id="projects">
			<app-projects></app-projects>
		</div>
		<div id="contact">
			<app-contact></app-contact>
		</div>
	</div>

	<div class="footer">Created using Angular, Typescript, HTML, and CSS</div>
</div>