<!-- 
<ul>
  Go through the list of skills, only showing the first 4
  <li id="skillList" *ngFor="let skill of skills | slice:0:4; let i=index" (click)="onSelect(skill)">
    {{ skill.name }} - {{ skill.level }} out of 5
  </li>
  If the length of the skill list is greater than 4, show how many more skills 
  <li id="skillList" *ngIf="skills.length > 4"> and {{ skills.length - 4 }} more skills </li>
</ul> -->
<!-- <div>
  <input [(ngModel)]="selectedSkill.name" placeholder="name"/>
</div> -->

<div class="wide">
  <h2>Skills</h2>
  <div class="chart">
    <div class="chart-item-1">
      <canvas baseChart
                [datasets]="barData"
                [labels]="barLabel"
                [chartType]="barChartType"
                [options]="barOptions"
                [colors]="barChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
	</div>
	<div class="button">
		<button (click)="randomizeType()">Switch Chart Type</button>
	</div>
</div>