* {
	/*font-size: 13pt;*/
	text-align: center;
}

.wide {
	background-color: rgb(233, 236, 235);
	overflow-x: hidden;
	width: 100%;
	padding-top: 5em;
	padding-bottom: 5em;
}

h2 {
	font-family: 'Indie Flower', cursive;
	font-size: 35pt;
	margin-bottom: 0;
}

.chart {
	padding: 0;
	margin: 0;
	display: inline;
	width: 80%;
}

.chart-item-1 {
	display: inline-block;
	width: 75%;
	height: 50%;
	/*float: left;*/
}
.chart-item-2 {
	width: 50%;
	height: 50%;
	float: right;
/*	margin-left: 20%;*/
}

.button {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 10px;
}
