<div class="wide">
  <!-- <h2>Skills</h2> -->
  <div class="chart">
    <div class="chart-item-1">
      <canvas baseChart
                [datasets]="barData"
                [labels]="barLabel"
                [chartType]="barChartType"
                [options]="barOptions"
                [colors]="barChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div>
      <button mat-raised-button (click)="changeType()">Switch Chart Type</button>
    </div>
	</div>

  <div class="mobile-chart">
<!--     <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field> -->
    <mat-table #table [dataSource]="dataSource"> <!-- matSort class="mat-elevation-z8"> -->

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let skillset"> {{skillset.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
        <mat-cell *matCellDef="let skillset">
        {{skillset.category}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef> Level of Proficiency</mat-header-cell>
        <mat-cell *matCellDef="let skillset">
        {{skillset.level}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="preference">
        <mat-header-cell *matHeaderCellDef> Preference </mat-header-cell>
        <mat-cell *matCellDef="let skillset">
        {{skillset.preference}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>