<div class="wide">
  <h2>Skills</h2>
  <div class="chart">
    <div class="chart-item-1">
      <canvas baseChart
                [datasets]="barData"
                [labels]="barLabel"
                [chartType]="barChartType"
                [options]="barOptions"
                [colors]="barChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
	</div>
	<div class="button">
		<button (click)="changeType()">Switch Chart Type</button>
	</div>
</div>